@using WebTest2ebt.UI.AppConfiguration
@model BuyerViewModel

@{ ViewData["Title"] = "Изменение пароля аккаунта"; }

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Изменение пароля аккаунта</h1>
        </div>


        @* Блок внутренности *@

        <div class="col-lg-9">
            <!-- Start  -->
            <div class="container py-5">
                <div class="row py-5">

                    <form class="col-md-9 m-auto mb-5" method="post" role="form">

                        <!-- В этот блок пишутся ошибки как при логине -->                        
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">
                            <label>Старый пароль</label>
                            <input type="password" class="form-control mt-1">
                        </div>

                        <div class="mb-3">
                            <label>Новый пароль</label>
                            <input type="password" class="form-control mt-1">
                        </div>

                        <div class="mb-3">
                            <label>Повторите новый пароль</label>
                            <input type="password" class="form-control mt-1">
                        </div>


                        <div class="row">
                            <div class="col text-end mt-2">
                                <button type="submit" class="btn btn-success btn-lg px-3">Сохранить</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>


    </div>
</div>