
@{ ViewData["Title"] = "Privacy Policy"; }


<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">@ViewData["Title"]</h1>
        <p>
            Вай это же политика конфиденциальности
        </p>
    </div>
</div>

<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Текст</h1>
                <p>
                    Текст 2
                </p>
            </div>            
        </div>
    </div>
</section>