@{ ViewData["Title"] = "Админ панель"; }

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Панель администратора</h1>
            <ul class="templatemo-accordion">


                <a class="text-decoration-none" asp-controller="Admin" asp-action="Orders">Текущие заказы</a>
                <br />
                <a class="text-decoration-none" asp-controller="Admin" asp-action="OrdersHistory">История заказов</a>
                <br />
                <a class="text-decoration-none" asp-controller="Admin" asp-action="BuyersList">Пользователи</a>
                <br />
                <a class="text-decoration-none" asp-controller="Admin" asp-action="MasterDetails">Сотрудники</a>
                <br />
                <a class="text-decoration-none" asp-controller="Admin" asp-action="Services">Сервисы сотрудников</a>
                <br />
                <a class="text-decoration-none" asp-controller="Admin" asp-action="EquipmentDetails">Оборудование</a>
                <br />

            </ul>
        </div>

        <div class="col-lg-9">
            <!-- Стандартная страница админа пустая-->
        </div>
    </div>
</div>